body {
    width:800px;
    margin: 0 auto;
    margin-top: 40px;
}


.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img_caption {
    padding-top: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.images img {
    width: 200px;
    display: block;
    padding: 10px;
}

.images p {
    text-align: center;
}

.images::after {
    display: block;
    content:"";
    width: 220px;
    }